AUTH_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
AUTH_GITHUB_FULL_ID=
AUTH_GITHUB_FULL_SECRET=
TOKEN_ENCRYPTION_KEY=
GITHUB_APP_SLUG=shiprank
AUTH_URL=http://localhost:3000
KV_REST_API_URL=
KV_REST_API_TOKEN=
CRON_SECRET=
